@font-face {
    font-family: 'Rosarium';
    src: url("../../../public/ofont.ru_Rosarium.ttf");
    font-style: normal;
    font-weight: normal;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.section-1,
.section-2,
.section-3 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-1 {
    background-image: url("/public/images/Forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2 {
    background-image: url("/public/images/Chill.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2 p {
    color: white;
}

.section-1 h1 {
    user-select: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.section-1 h1.visible {
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: translateY(0);
    font-family: "Playfair Display", serif;
}

.section-1 p {
    color: white;
}

.section-2 button {
    user-select: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.section-2 button.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-3 {
    background-color: black;
    align-items: center;
    padding: 20px;
}

.section-3 h1 {
    font-family: 'Rosarium', monospace;
    color: rgba(255, 255, 255, 0.9);
    font-size: 4em;
}

.section-3 p {
    font-family: 'Rosarium', monospace;
    color: rgba(255, 254, 254, 0.9);
    font-size: 2em;
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

.btn {
    position: relative;
    width: 360px;
    height: 120px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 300 960;
    stroke-dashoffset: 300;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: rgba(255, 0, 0, 0.479);
}

.btn:hover svg {
    stroke-dashoffset: -960;
}

.btn span {
    color: white;
    font-size: 36px;
    font-weight: 100;
}

.bg-line {
    stroke: #989a9c;
    stroke-width: 2;
}

.hl-line {
    stroke: #fff;
    stroke-width: 4;
    stroke-dasharray: 300 960;
    stroke-dashoffset: 300;
    transition: 1s ease-in-out;
}

.btn:hover .hl-line {
    stroke-dashoffset: -960;
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.slide img {
    width: 100%;
    display: block;
}